[submodule "boatd-opencpn"]
	path = boatd-opencpn
	url = https://github.com/boatd/boatd-opencpn.git
[submodule "sailsd"]
	path = sailsd
	url = https://github.com/sails-simulator/sailsd.git
[submodule "sails-ui"]
	path = sails-ui
	url = https://github.com/sails-simulator/sails-ui.git
[submodule "simulator-behaviour"]
	path = simulator-behaviour
	url = https://github.com/abersailbot/simulator-behaviour.git
[submodule "sails-boatd-driver"]
	path = sails-boatd-driver
	url = https://github.com/colinsauze/sails-boatd-driver.git
